skip_commits:
  # Mimic Travis-ci skip behavior.
  message: /ci skip/

os: Visual Studio 2015

environment:

  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\dev\\appveyor\\run_with_env.cmd"
    OPENSSL_VER: 1.0.2g
    FREETDS_VER: 0.95.95

  # As defined by Appveyor.
  SA_PASSWORD: "Password12!"

  BUILD_INSTALL_PREFIX: "C:\\usr\\local"

  CIBW_SKIP: cp26-* cp27-*

  matrix:

  - PYTHON: "C:\\Python36-x64"
    SQLSERVER_INSTANCENAME: "SQL2016"

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# Note: Database services should *not* be specified in the services section.
# The database service will be explicitly started by the script which enables
# TCP/IP connections for the database.
services:

cache:
  -  '%BUILD_INSTALL_PREFIX% -> appveyor.yml'

install:
  - "%PYTHON%\\python.exe -m pip install wheel"

before_build:
  # OpenSSL
  - appveyor DownloadFile http://www.npcglib.org/~stathis/downloads/openssl-%OPENSSL_VER%-vs%VS_VER%.7z || (ping -n 10 127.0.0.1 >"nul:" & appveyor DownloadFile http://www.npcglib.org/~stathis/downloads/openssl-%OPENSSL_VER%-vs%VS_VER%.7z)
  - 7z x openssl-%OPENSSL_VER%-vs%VS_VER%.7z
  - ren openssl-%OPENSSL_VER%-vs%VS_VER% openssl
  # FreeTDS
  - "rmdir /s /q freetds\\vs%VS_VER%_%PYTHON_ARCH% || cmd /c \"exit /b 0\""
  - appveyor DownloadFile https://github.com/ramiro/freetds/releases/download/v%FREETDS_VER%/freetds-v%FREETDS_VER%-win-%ARCH%-vs%VS_VER%.zip
  - 7z x -ofreetds freetds-v%FREETDS_VER%-win-%ARCH%-vs%VS_VER%.zip
  - mv freetds/freetds-v%FREETDS_VER%-win-%ARCH%-vs%VS_VER% freetds/vs%VS_VER%_%PYTHON_ARCH%

build_script:
  - "%CMD_IN_ENV% python setup.py install"

artifacts:
  - path: "dist\\*"

test_script:
  - "%PYTHON%\\python.exe setup.py test"

after_test:
  # If tests are successful, create binary packages for the project.
  - "%CMD_IN_ENV% python setup.py bdist_wheel"
