skip_commits:
  # Mimic Travis-ci skip behavior.
  message: /ci skip/

environment:

  # As defined by Appveyor.
  SA_PASSWORD: "Password12!"

  BUILD_INSTALL_PREFIX: "C:\\usr\\local"

  CIBW_SKIP: cp26-* cp27-*

  FREETDS_VERSION: 1.00.70

  matrix:
#  - PYTHON: "C:\\Python26-x64"
#    SQLSERVER_INSTANCENAME: "SQL2016"

#  - PYTHON: "C:\\Python27-x64"
#    SQLSERVER_INSTANCENAME: "SQL2016"

#  - PYTHON: "C:\\Python33-x64"
#    SQLSERVER_INSTANCENAME: "SQL2016"
#    DISTUTILS_USE_SDK: "1"

#  - PYTHON: "C:\\Python34-x64"
#    SQLSERVER_INSTANCENAME: "SQL2016"
#    DISTUTILS_USE_SDK: "1"

#  - PYTHON: "C:\\Python35-x64"
#    SQLSERVER_INSTANCENAME: "SQL2016"

#  - PYTHON: "C:\\Python36-x64"
#    SQLSERVER_INSTANCENAME: "SQL2008R2SP2"

#  - PYTHON: "C:\\Python36-x64"
#    SQLSERVER_INSTANCENAME: "SQL2012SP1"

#  - PYTHON: "C:\\Python36-x64"
#    SQLSERVER_INSTANCENAME: "SQL2014"

  - PYTHON: "C:\\Python36-x64"
    SQLSERVER_INSTANCENAME: "SQL2016"

platform:
  - x64

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# Note: Database services should *not* be specified in the services section.
# The database service will be explicitly started by the script which enables
# TCP/IP connections for the database.
services:

cache:
  -  '%BUILD_INSTALL_PREFIX% -> appveyor.yml'

install:
  - "%PYTHON%\\python.exe -m pip install wheel"

build: off

artifacts:
  - path: "dist\\*"

test_script:
  - "%PYTHON%\\python.exe setup.py test"

after_test:
  - "build.cmd %PYTHON%\\python.exe setup.py bdist_wheel"
